<!DOCTYPE html>
<html>
    {% include "partials/header.html" %}
    <body>
        <div class="container">
            <h1>All stylists deleted</h1>
            <br>
            <h5><a href="/">Home</a></h5>
        </div>
    </body>
</html>
